.container{
    margin-top: 60px;
    margin: 80px;
    padding-top: 5%;
    background-color: #E8E7E7;
}

.row{
    padding: 10px;
}
.form input{
    /* border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    border-radius: 0px; */
    outline: 0px;
    
}
.inputLabel{

    border-bottom: 1px solid black;
}
.Link{
    color:white;
    text-decoration: none;
}
.Link:hover {
    color: white;
    text-decoration: none;
  }

.btnFormRegistrar{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: blue;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    
}
.btnFormRegistrar:hover{
    color:white;
    background-color: rgb(22, 22, 197);
}
.btnForm{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: gray;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
}

